<template>
  <div>
    <b-container fluid class="container-full">
      <b-row no-gutters="">
        <b-col>
          <b-card
            bg-variant="primary"
            text-variant="white"
            class="card-hero"
          >
            <b-row class="text-center py-5">
              <b-col>
                <h1>{{ user.name }}</h1>
                <p>{{ userGender }} &nbsp;&middot;&nbsp; {{ getAge(user.birthday) }} Tahun </p>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row no-gutters="">
        <b-col>
          <b-tabs id="profile-tab" align="center">
            <!-- <b-tab title="Amalanku">
              <br>
            </b-tab> -->
            <b-tab title="Profil">
              <b-form class="mt-2" @submit="onUpdateProfile">
                <b-row class="content">
                  <b-col lg="6" md="6" offset-lg="3" offset-md="3">
                    <b-form-group label="Nama" label-for="name">
                      <b-form-input size="sm" required id="name" v-model="userData.name" type="text"/>
                    </b-form-group>

                    <b-form-group label="Email" label-for="email">
                      <b-form-input
                        size="sm"
                        disabled
                        required
                        id="email"
                        type="email"
                        :value="userData.email"
                      />
                    </b-form-group>

                    <b-form-group label="Jenis Kelamin">
                      <b-form-radio-group
                        required
                        v-model="userData.gender"
                        :options="gender"
                        name="gender"
                      />
                    </b-form-group>

                    <b-form-group label="Tanggal Lahir" label-for="birthday">
                      <date-picker required v-model="userData.birthday" lang="id" type="date" format="YYYY-MM-DD" value-type="format" input-class="form-control"/>
                    </b-form-group>

                    <b-button type="submit" variant="info">Perbaharui</b-button>
                  </b-col>
                </b-row>
              </b-form>
            </b-tab>
            <b-tab title="Kata Sandi">
              <b-form class="mt-2" @submit="onChangePassword">
                <b-row class="content">
                  <b-col lg="6" md="6" offset-lg="3" offset-md="3">
                    <b-form-group label="Kata Sandi Saat ini" label-for="old_password">
                      <b-form-input
                        size="sm"
                        type="password"
                        required
                        id="old_password"
                        v-model="passwordData.old_password"
                      />
                    </b-form-group>

                    <b-form-group label="Kata Sandi Baru" label-for="password">
                      <b-form-input
                        size="sm"
                        required
                        id="password"
                        type="password"
                        v-model="passwordData.password"
                      />
                    </b-form-group>

                    <b-form-group label="Ulangi Kata Sandi Baru" label-for="password_confirmation">
                      <b-form-input
                        size="sm"
                        required
                        id="password_confirmation"
                        type="password"
                        v-model="passwordData.password_confirmation"
                      />
                    </b-form-group>
                    <b-button type="submit" variant="info">Ganti</b-button>
                  </b-col>
                </b-row>
              </b-form>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import DatePicker from 'vue2-datepicker'
import { mapGetters, mapMutations } from 'vuex'
import { User } from '../../services/user'
export default {
  components: { DatePicker },
  data () {
    return {
      passwordData: {
        old_password: null,
        password: null,
        password_confirmation: null
      },
      userData: {
        name: null,
        email: null,
        gender: null,
        birthday: null
      },
      gender: [
        { text: 'Laki-laki', value: 1 },
        { text: 'Perempuan', value: 0 }
      ]
    }
  },
  computed: {
    ...mapGetters('AuthStore', ['user']),
    userGender () {
      return this.gender.find(v => v.value === this.user.gender).text
    }
  },
  created () {
    this.userData = {
      name: this.user.name,
      email: this.user.email,
      gender: this.user.gender,
      birthday: this.user.birthday
    }
  },
  methods: {
    ...mapMutations('AuthStore', {
      updateUser: 'UPDATEUSER'
    }),
    onUpdateProfile (event) {
      event.preventDefault()
      User.updateProfile(this.userData).then(response => {
        this.updateUser(response.data.data)
        this.$toast.success({ title: 'Success', message: response.data.message })
        // this.redirectToHome()
      })
    },
    onChangePassword (event) {
      event.preventDefault()
      User.changePassword(this.passwordData).then(response => {
        this.$toast.success({ title: 'Success', message: response.data.message })
        // this.redirectToHome()
      })
    },
    redirectToHome () {
      this.$router.push({ name: 'Home' })
    },
    getAge (dateString) {
      let today = new Date()
      let birthDate = new Date(dateString)
      let age = today.getFullYear() - birthDate.getFullYear()
      let m = today.getMonth() - birthDate.getMonth()
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          age--
      }
      return age
    }
  }
}
</script>
<style>
#profile-tab {
  margin-top: -71px;
}
.nav-tabs .nav-link {
  color: #fff;
}
.nav-link:hover, .nav-link:focus {
  border: 1px solid transparent !important;
}
</style>
