<template>
  <div>
    <b-container fluid class="container-full" v-if="isPage('Login')">
      <b-row no-gutters="">
        <b-col>
          <b-card
            bg-variant="primary"
            text-variant="white"
            class="card-hero"
          >
            <b-row class="text-center">
              <b-col>
                <h1 class="py-5">Login</h1>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row no-gutters="">
        <b-col lg="6" md="6" offset-lg="3" offset-md="3">
          <b-form @submit="onLogin">
            <b-form-group label="Email" label-for="email">
              <b-form-input required id="email" type="email" v-model="credentials.email"/>
            </b-form-group>

            <b-form-group label="Kata Sandi" label-for="password">
              <b-form-input required id="password" type="password" autocomplete="false" v-model="credentials.password"/>
            </b-form-group>

            <b-button type="submit" variant="info">Masuk</b-button>
          </b-form>
        </b-col>
      </b-row>

      <b-row no-gutters="">
        <b-col lg="6" md="6" offset-lg="3" offset-md="3">
          <h6 v-if="isPage('Login')">Belum Punya Akun ?
            <router-link :to="{name: 'Register'}">Klik Disini&nbsp;</router-link>untuk mendaftar
          </h6>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      credentials: {
        email: null,
        password: null
      }
    }
  },
  created () {
  },
  methods: {
    ...mapActions('AuthStore', [
      'login'
    ]),
    onLogin (event) {
      event.preventDefault()
      this.login(this.credentials).then(response => {
        this.$router.push({ name: 'Home' })
      })
    },
    isPage (page) {
      return this.$route.name === page
    }
  }
}
</script>
