<template>
  <div>
    <b-container fluid class="container-full" v-if="isPage('Register')">
      <b-row no-gutters="">
        <b-col>
          <b-card
            bg-variant="primary"
            text-variant="white"
            class="card-hero"
          >
            <b-row class="text-center">
              <b-col>
                <h1 class="py-5">Register</h1>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row no-gutters="">
        <b-col lg="6" md="6" offset-lg="3" offset-md="3">
          <b-form @submit="onRegister">
            <b-form-group label="Nama" label-for="name">
              <b-form-input required id="name" type="text" v-model="user.name"/>
            </b-form-group>

            <b-form-group label="Email" label-for="email">
              <b-form-input required id="email" type="email" v-model="user.email"/>
            </b-form-group>

            <b-form-group label="Kata Sandi" label-for="password">
              <b-form-input required id="password" type="password" autocomplete="false" v-model="user.password"/>
            </b-form-group>

            <b-form-group label="Ulangi Kata Sandi" label-for="password_confirmation">
              <b-form-input
                required
                id="password_confirmation"
                type="password"
                autocomplete="false"
                v-model="user.password_confirmation"
              />
            </b-form-group>

            <b-form-group label="Jenis Kelamin">
              <b-form-radio-group
                required
                v-model="user.gender"
                :options="gender"
                name="gender"
              />
            </b-form-group>

            <b-form-group label="Tanggal Lahir" label-for="birthday">
              <!-- <b-form-input required id="birthday" type="date" v-model="user.birthday"/> -->
              <date-picker required v-model="user.birthday" lang="id" type="date" format="YYYY-MM-DD" value-type="format" input-class="form-control"/>
            </b-form-group>

            <b-button type="submit" variant="info">Daftar</b-button>
          </b-form>
        </b-col>
      </b-row>

      <b-row no-gutters="" v-if="isPage('Register')">
        <b-col lg="6" md="6" offset-lg="3" offset-md="3">
          <h6>Sudah punya akun ?
            <router-link :to="{name: 'Login'}">Klik Disini&nbsp;</router-link>untuk masuk
          </h6>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import DatePicker from 'vue2-datepicker'
import { mapActions } from 'vuex'
export default {
  components: { DatePicker },
  data () {
    return {
      user: {
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
        gender: null,
        birthday: null
      },
      gender: [
        { text: 'Laki-laki', value: 1 },
        { text: 'Perempuan', value: 0 }
      ]
    }
  },
  methods: {
    ...mapActions('AuthStore', [
      'register'
    ]),
    onRegister (event) {
      event.preventDefault()
      this.register(this.user).then(response => {
        this.$toast.success({
          title: 'Success',
          message: response.data.message
        })
        this.$router.push({ name: 'Login' })
      })
    },
    isPage (page) {
      return this.$route.name === page
    }
  }
}
</script>
