<template>
  <div>
    <b-container fluid class="container-full">
      <b-row no-gutters="">
        <b-col>
          <b-card
            bg-variant="primary"
            text-variant="white"
            class="card-hero"
          >
            <b-row class="text-center">
              <b-col>
                <!-- <h1 class="display-1 d-none d-lg-block">About</h1>
                <h1 class="display-2 d-none d-md-block d-lg-none">About</h1>
                <h1 class="display-4 d-block d-md-none">About</h1> -->
                <h1 class="py-5">About</h1>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row no-gutters="">
        <b-col>
          <h2>Pengembang</h2>
          <p>Pengembang Aplikasi <strong>Catatan Amalanku</strong> adalah #Team9 PAW TI-9 AKAKOM 2019</p>
          <ul>
            <li>
              Khanifa Eka Nuryati <br>
              <strong>175410074</strong> <br>
              <a href="https://www.instagram.com/khanifaanip" target="_blank">@khanifaanip</a>
            </li>
            <li>
              Abdul R. Wahid <br>
              <strong>175410100</strong> <br>
              <a href="https://www.instagram.com/wahwahid" target="_blank">@wahwahid</a>
            </li>
            <li>
              Syaiful Mustafa <br>
              <strong>175410158</strong> <br>
              <a href="https://www.instagram.com/sfmusta" target="_blank">@sfmusta</a>
            </li>
          </ul>
          <br>
          <h2>Aplikasi</h2>
          <p>Catatan Amalanku adalah sebuah aplikasi untuk mencatat amalan mukminin dan mukminat. Amalan yang bisa dicatat adalah Sholat Wajib dan Tadarus. Aplikasi ini dibuat dalam rangka menyediakan alat bantu untuk mencatat, mempertahankan, dan meningkatkan amalan pasca-Ramadhan serta untuk memenuhi tugas mata kuliah Pengembangan Aplikasi Web.</p>
          <br>
          <h2>Teknologi</h2>
          <p>Teknologi yang digunakan antara lain :</p>
          <ul>
            <li>
              Back-end
              <ul>
                <li>Web Service Implementation <b>RESTful API</b></li>
                <li>Bahasa Pemrograman <b>PHP (7.1)</b></li>
                <li>PHP Framework <b>Laravel (5.7)</b></li>
                <li>PHP Library <b>guzzlehttp/guzzle (6.3)</b></li>
                <li>PHP Library <b>tymon/jwt-auth (dev)</b></li>
              </ul>
            </li>
            <li>
              Front-end
              <ul>
                <li>Bahasa Pemrograman <b>Javascript (ES6)</b></li>
                <li>Javascript Framework <b>Vue (2)</b></li>
                <li>Javascript Library <b>Laravel Mix (2.0)</b></li>
                <li>Javascript Library <b>Axios (0.18)</b></li>
                <li>Javascript Library <b>Moment (2.24)</b></li>
                <li>Javascript Library <b>Moment Hijri (2.1)</b></li>
                <li>Javascript Library <b>vue2-datepicker (2.11)</b></li>
                <li>CSS Framework <b>Bootstrap (4)</b></li>
              </ul>
            </li>
            <li>
              External API
              <ul>
                <li>Geo Location Detection <b>ipinfo.io</b></li>
                <li>Islamic Prayer Times <b>muslimsalat.com</b></li>
              </ul>
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {}
  },
  computed: {
    ...mapGetters('AuthStore', [
      'user', 'isLoggedIn'
    ])
  },
  created () {
  },
  methods: {
  }
}
</script>
