<template>
  <div>
    <b-container fluid class="container-full">
      <b-row no-gutters="">
        <b-col>
          <b-card
            overlay
            img-src="img/hero-ori.jpg"
            img-alt="Card Image"
            text-variant="white"
            class="card-hero"
          >
            <b-row>
              <b-col offset="1">
                <div class="d-none d-lg-block">
                  <br><br><br><br><br>
                </div>
                <h1 class="display-1 d-none d-lg-block">Catatan <br> Amalanku</h1>
                <h1 class="display-2 d-none d-md-block d-lg-none">Catatan <br> Amalanku</h1>
                <h1 class="display-4 d-block d-md-none">Catatan <br> Amalanku</h1>
                <h4 class="d-none d-sm-block">Karena hari ini lebih baik dari pada kemarin.</h4>
                <p class="d-block d-sm-none">Karena hari ini lebih baik dari pada kemarin.</p>
                <br><br>
                <b-button variant="primary" size="lg" href="#sign" class="d-none d-sm-inline-block">Catat Sekarang</b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row id="sign">
        <template v-if="isLoggedIn">
          <b-col cols="12" class="text-center mb-3">
            <h3>Halo, {{ user.name }}</h3>
            <p>Apa peningkatan amalanmu hari ini ?</p>
          </b-col>
          <b-col cols="12" lg="6" class="mb-3">
            <b-card bg-variant="dark" text-variant="white" title="Sholat Wajib">
              <b-card-text>
                Catatan pelaksanaan sholat wajib.
              </b-card-text>
              <b-button :to="{ name: 'SholatWajib' }" variant="primary">Tambah Catatan</b-button>
            </b-card>
          </b-col>
          <b-col cols="12" lg="6" class="mb-3">
            <b-card bg-variant="dark" text-variant="white" title="Tadarus">
              <b-card-text>
                Catatan pelaksanaan tadarus.
              </b-card-text>
              <b-button :to="{ name: 'Tadarus' }" variant="primary">Tambah Catatan</b-button>
            </b-card>
          </b-col>
        </template>
        <template v-else>
          <b-col cols="12" class="text-center">
            <h2>Sudah punya akun belum ?</h2>
            <br>
          </b-col>
          <b-col cols="12">
            <div>
              <b-tabs content-class="mt-3" align="center">
                <b-tab title="Belum, daftarkan saya" active>
                  <register/>
                </b-tab>
                <b-tab title="Sudah, biarkan saya masuk">
                  <login/>
                </b-tab>
              </b-tabs>
            </div>
          </b-col>
        </template>
        <b-col cols="12">
          <br>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import Login from './Auth/Login'
import Register from './Auth/Register'
import { mapGetters } from 'vuex'
export default {
  components: {
    Login,
    Register
  },
  data () {
    return {}
  },
  computed: {
    ...mapGetters('AuthStore', [
      'user', 'isLoggedIn'
    ])
  },
  mounted () {
  },
  methods: {
  }
}
</script>
<style>
.card-hero .card-body {
  padding-top: 56px;
}
</style>
