<template>
  <b-navbar id="nav" fixed="top" toggleable="md" type="dark" class="top">
    <b-navbar-toggle target="nav_collapse"/>
    <b-navbar-brand v-if="isPage('Home')" id="navbar-brand-home" :to="{ name: 'Home' }">Catatan Amalanku</b-navbar-brand>
    <b-navbar-brand v-else :to="{ name: 'Home' }">Catatan Amalanku</b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-auto">
        <b-nav-item :active="isPage('Home')" :to="{name: 'Home'}">Home</b-nav-item>
        <b-nav-item :active="isPage('About')" :to="{name: 'About'}">About</b-nav-item>
        <template v-if="!isLoggedIn">
          <b-nav-item :active="isPage('Login')" :to="{name: 'Login'}">Login</b-nav-item>
        </template>
        <template v-else>
          <!-- <b-nav-item :active="isPage('ListPost')" :to="{ name: 'ListPost' }">Posts</b-nav-item> -->
          <b-nav-item :active="isPage('SholatWajib')" :to="{ name: 'SholatWajib' }">Sholat Wajib</b-nav-item>
          <b-nav-item :active="isPage('Tadarus')" :to="{ name: 'Tadarus' }">Tadarus</b-nav-item>
          <b-nav-item-dropdown right id="profile-dropdown">
            <template slot="button-content">
              <span :class="menuProfileClass" id="menu-profile">{{ user.name }}</span>
            </template>
            <b-dropdown-item :to="{ name: 'Profile' }">Profile</b-dropdown-item>
            <b-dropdown-item @click="onLogout()" href="javascript:void(0);">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </template>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data () {
    return {
      collapsed: false
    }
  },
  computed: {
    ...mapGetters('AuthStore', [
      'user', 'isLoggedIn'
    ]),
    menuProfileClass () {
      return this.isPage('Profile') ? 'active' : ''
    }
  },
  mounted () {
    this.$nextTick(() => {
      window.addEventListener('scroll', () => {
        let navbar = document.getElementById('nav')
        let navClasses = navbar.classList
        if (document.body.scrollTop >= 150) {
          if (navClasses.contains('navbar-light') === false) {
            navClasses.toggle('navbar-light')
          }
          if (navClasses.contains('bg-light') === false) {
            navClasses.toggle('bg-light')
          }
          if (navClasses.contains('navbar-dark') === true) {
            navClasses.toggle('navbar-dark')
          }
          if (navClasses.contains('top') === true) {
            navClasses.toggle('top')
          }
        } else {
          if (navClasses.contains('navbar-light') === true) {
            navClasses.toggle('navbar-light')
          }
          if (navClasses.contains('bg-light') === true) {
            navClasses.toggle('bg-light')
          }
          if (navClasses.contains('navbar-dark') === false) {
            navClasses.toggle('navbar-dark')
          }
          if (navClasses.contains('top') === false) {
            navClasses.toggle('top')
          }
        }
      })
    })
  },
  methods: {
    ...mapActions('AuthStore', [
      'logout'
    ]),
    toggleNavbar () {
      this.collapsed = !this.collapsed
    },
    currentRoute (name) {
      return this.$route.name === name
    },
    onLogout () {
      this.logout().then(response => {
        this.$toast.success({ title: 'Success', message: response.data.message })
        this.$router.push({ name: 'Login' })
      })
    },
    isPage (page) {
      return this.$route.name === page
    }
  }
}
</script>
<style>
#nav.top #navbar-brand-home {
  visibility: hidden;
}
#nav.top #menu-profile.active {
  color: #fff;
}
#nav #menu-profile.active {
  color: rgba(0, 0, 0, 0.9);
}
</style>
