<template>
  <div>
    <b-container fluid class="container-full">
      <b-row no-gutters="">
        <b-col>
          <b-card
            bg-variant="primary"
            text-variant="white"
            class="card-hero pt-5 pb-3"
          >
            <b-row class="text-center">
              <b-col>
                <h1>Sholat Wajib</h1>
                <p>
                  {{ sekarang }} <br>
                  <small v-if="jadwal">
                    <span v-if="jadwal.status_error">
                      Tidak dapat mendeteksi lokasi !
                    </span>
                    <span v-else>
                      <span v-if="jadwal.address">
                        {{ jadwal.address }}
                      </span>
                      <span v-else>
                        {{ jadwal.city }}<span v-if="jadwal.city !== ''">,</span> {{ jadwal.state }}, {{ jadwal.country }}
                      </span>
                    </span>
                  </small>
                  <small v-else>
                    <span v-if="location">
                      Tidak dapat mendeteksi lokasi !
                    </span>
                    <span v-else>
                      Mendeteksi lokasi...
                    </span>
                  </small>
                  <br>
                  <b-button v-b-modal.modal-lokasi size="sm" variant="success" class="mt-1"><small>Pilih Lokasi</small></b-button>
                </p>
              </b-col>
            </b-row>
            <b-row class="text-center">
              <b-col class="d-none d-md-block"><br></b-col>
              <b-col class="d-none d-lg-block"><br></b-col>
              <b-col v-for="jl in jadwalList" :key="jl.key">
                {{ jl.label }} <br>
                <b>{{ jl.time || (location ? 'N/A' : 'Memuat...') }}</b>
              </b-col>
              <b-col class="d-none d-md-block"><br></b-col>
              <b-col class="d-none d-lg-block"><br></b-col>
            </b-row>
            <b-row class="pt-4">
              <b-col class="d-none d-md-block"><br></b-col>
              <b-col class="d-none d-lg-block"><br></b-col>
              <b-col>
                <b-form-select v-model="tahunAktif" :options="tahunList" @change="getSholatWajib()"/>
              </b-col>
              <b-col>
                <b-form-select v-model="bulanAktif" :options="bulanList" @change="getSholatWajib()"/>
              </b-col>
              <b-col cols="12" sm="">
                <b-button v-b-modal.modal-sholat-add variant="success" block class="d-block" @click="updateDefaultForm">
                  Catat Sholat
                </b-button>
              </b-col>
              <b-col class="d-none d-md-block"><br></b-col>
              <b-col class="d-none d-lg-block"><br></b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row no-gutters="">
        <b-col>
          <b-modal id="modal-lokasi" title="Ubah Lokasi" hide-footer="">
            <b-form @submit="cariLokasi" class="mb-0">
              <b-row>
                <b-col cols="10">
                  <b-form-input required id="serach" type="text" v-model="serach" placeholder="Tuliskan Nama Lokasi"/>
                </b-col>
                <b-col cols="2" class="pl-0">
                  <b-button block type="submit">Cari</b-button>
                </b-col>
                <b-col cols="12" class="pt-1">
                  <span v-if="!jadwalTemp && searched">
                    <b-badge variant="danger">Tidak Ditemukan "{{ searched }}"</b-badge>
                  </span>
                  <span v-if="jadwalTemp">
                    <b-badge variant="success">
                      Ditemukan "{{ searched }}"
                    </b-badge>
                    <br>
                    <small>Detail :</small>
                    <small v-if="jadwalTemp.address">
                      {{ jadwalTemp.address }}
                    </small>
                    <small v-else>
                      "{{ jadwalTemp.city }}<span v-if="jadwalTemp.city !== ''">,</span> {{ jadwalTemp.state }}, {{ jadwalTemp.country }}"
                    </small>
                  </span>
                </b-col>
                <b-col cols="12 text-right">
                  <hr>
                  <b-button variant="success" :disabled="!jadwalTemp" @click="simpanJadwalLokasiBaru">Ubah</b-button>
                </b-col>
              </b-row>
            </b-form>
          </b-modal>
          <b-modal id="modal-sholat-add" title="Tambah Catatan Sholat" hide-footer="">
            <b-form @submit="onSubmit" class="mb-0">
              <b-row>
                <b-col cols="12">
                  <b-form-group
                    label="Sholat"
                    label-for="sholat"
                  >
                    <b-form-select id="sholat" name="sholat" v-model="form.tipe" :options="sholatType" text-field="label" value-field="key"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group
                    label="Waktu"
                  >
                    <date-picker required v-model="form.waktu" lang="en" type="datetime" format="YYYY-MM-DD HH:mm:ss" value-type="format" input-class="form-control"/>
                    <b-button size="sm" variant="primary" class="mt-2" @click="updateWaktuForm()">Set Ke Waktu Sekarang</b-button>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group
                    label="Berjamaah"
                    label-for="jamaah"
                  >
                    <b-form-checkbox v-model="form.jamaah" name="check-button" switch>
                      {{ (form.jamaah) ? 'Ya, Berjamaah' : 'Tidak, Munfarid' }}
                    </b-form-checkbox>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group
                    label="Tempat"
                    label-for="tempat"
                  >
                    <b-row>
                      <b-col>
                        <b-form-select id="tempat" name="tempat" v-model="form.tempat" :options="tempat"/>
                      </b-col>
                      <b-col>
                        <b-form-input required autofocus id="tempat_ket" type="text" v-model="form.tempat_ket" placeholder="Nama Masjid / Tempat"/>
                      </b-col>
                    </b-row>
                  </b-form-group>
                </b-col>
                <b-col cols="12 text-right">
                  <hr>
                  <b-button type="submit" variant="success">Tambah</b-button>
                </b-col>
              </b-row>
            </b-form>
          </b-modal>
          <b-modal id="modal-sholat-detail" title="Detail Catatan Sholat" hide-footer="">
            <b-row v-if="detail">
              <b-col cols="12">
                <b-form-group
                  label="Sholat"
                >
                  <b>{{ sholatType.find(type => type.key === detail.tipe).label }}</b>
                </b-form-group>
              </b-col>
              <b-col cols="12">
                <b-form-group
                  label="Waktu"
                >
                  <b>{{ formatTanggal(detail.waktu, 'dddd, DD MMM YYYY - HH:mm:ss') }}</b>
                </b-form-group>
              </b-col>
              <b-col cols="12">
                <b-form-group
                  label="Berjamaah"
                >
                  <b>{{ (detail.jamaah) ? 'Ya, Berjamaah' : 'Tidak, Munfarid' }}</b>
                </b-form-group>
              </b-col>
              <b-col cols="12">
                <b-form-group
                  label="Tempat"
                >
                  <b>{{ tempat.find(item => item.value === detail.tempat).text }} {{ detail.tempat_ket ? `(${detail.tempat_ket})` : '' }}</b>
                </b-form-group>
              </b-col>
            </b-row>
          </b-modal>
          <b-table
          :items="sholatItems"
          :fields="fields"
          responsive="sm"
          >
          <!-- <template slot="thead-top" slot-scope="data">
              <tr>
              <th colspan="2">&nbsp;</th>
              <th>Type 1</th>
              <th colspan="3">Type 2</th>
              <th>Type 3</th>
              </tr>
          </template> -->
              <template slot="index" slot-scope="data">
                  {{ data.index + 1 }}
              </template>
              <template slot="S" slot-scope="data">
                <b-button variant="info" v-if="data.item.S" @click="showDetail(data.item.S)">
                  {{ formatJamSholat(data.item.S) }}
                </b-button>
                <b-button variant="danger" v-b-modal.modal-sholat-add @click="showForm('S', data.item.today)" v-else>-</b-button>
              </template>
              <template slot="D" slot-scope="data">
                <b-button variant="info" v-if="data.item.D" @click="showDetail(data.item.D)">
                  {{ formatJamSholat(data.item.D) }}
                </b-button>
                <b-button variant="danger" v-b-modal.modal-sholat-add @click="showForm('D', data.item.today)" v-else>-</b-button>
              </template>
              <template slot="A" slot-scope="data">
                <b-button variant="info" v-if="data.item.A" @click="showDetail(data.item.A)">
                  {{ formatJamSholat(data.item.A) }}
                </b-button>
                <b-button variant="danger" v-b-modal.modal-sholat-add @click="showForm('A', data.item.today)" v-else>-</b-button>
              </template>
              <template slot="M" slot-scope="data">
                <b-button variant="info" v-if="data.item.M" @click="showDetail(data.item.M)">
                  {{ formatJamSholat(data.item.M) }}
                </b-button>
                <b-button variant="danger" v-b-modal.modal-sholat-add @click="showForm('M', data.item.today)" v-else>-</b-button>
              </template>
              <template slot="I" slot-scope="data">
                <b-button variant="info" v-if="data.item.I" @click="showDetail(data.item.I)">
                  {{ formatJamSholat(data.item.I) }}
                </b-button>
                <b-button variant="danger" v-b-modal.modal-sholat-add @click="showForm('I', data.item.today)" v-else>-</b-button>
              </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import moment from 'moment'
import momentHijri from 'moment-hijri'
import DatePicker from 'vue2-datepicker'
import { SholatWajib } from '../services/sholatWajib'
import { Location } from '../services/location'
import { SholatJadwal } from '../services/sholatJadwal'
import { mapGetters } from 'vuex'
export default {
  components: { DatePicker },
  data () {
    return {
      serach: null,
      searched: false,
      searchStatus: false,
      tahunAktif: null,
      bulanAktif: null,
      tahunMulai: 2019,
      location: null,
      jadwalTemp: null,
      jadwal: null,
      form: {
        waktu: null,
        jamaah: 0,
        tempat: 'M'
      },
      detail: null,
      sholat: [],
      fields: [
        {
          key: 'index',
          label: 'No.'
        },
        {
          key: 'today',
          label: 'Tanggal'
        }
      ],
      sholatType: [
        {
          key: 'S',
          label: 'Shubuh',
          jadwal: 'fajr'
        },
        {
          key: 'D',
          label: 'Dzuhur',
          jadwal: 'dhuhr'
        },
        {
          key: 'A',
          label: 'Asar',
          jadwal: 'asr'
        },
        {
          key: 'M',
          label: 'Maghrib',
          jadwal: 'maghrib'
        },
        {
          key: 'I',
          label: 'Isya',
          jadwal: 'isha'
        }
      ],
      tempat: [
        {
          text: 'Masjid',
          value: 'M'
        },
        {
          text: 'Rumah',
          value: 'R'
        },
        {
          text: 'Lainnya',
          value: 'L'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('AuthStore', [
      'user', 'isLoggedIn'
    ]),
    // sholatItems () {
    //   let result = []
    //   let j = -1
    //   let lastday = null
    //   for (let i = 0; i < this.sholat.length; i++) {
    //     let today = moment(this.sholat[i].waktu).format('dddd, DD MMM YYYY')
    //     if (i === 0 || today !== lastday) {
    //       lastday = today
    //       j++
    //       result[j] = {
    //         today
    //       }
    //     }
    //     result[j][this.sholat[i].tipe] = this.sholat[i]
    //   }
    //   return result
    // },
    sholatItems () {
      moment.locale('id-ID')
      let result = Array.from({ length: this.hariJumlah }, (v, i) => {
        let today = moment(`${i + 1} ${this.bulanAktif} ${this.tahunAktif}`, 'D M YYYY').format('dddd, DD MMM YYYY')
        return { today }
      })

      for (let i = 0; i < this.sholat.length; i++) {
        let h = moment(this.sholat[i].waktu).format('D') - 1
        result[h][this.sholat[i].tipe] = this.sholat[i]
      }
      return result
    },
    sekarang () {
      moment.locale('id-ID')
      return moment().format('dddd, DD MMMM YYYY') + ' ( ' + momentHijri().format('iDD iMMMM iYYYY') + 'H )'
    },
    hariJumlah () {
      return new Date(this.tahunAktif, this.bulanAktif, 0).getDate()
    },
    tahunList () {
      return Array.from({ length: 10 }, (v, i) => 2019 + i)
    },
    bulanList () {
      moment.locale('id-ID')
      let list = moment.months()
      return list.map((v, i) => {
        return {
          text: v,
          value: i + 1
        }
      })
    },
    jadwalList () {
      return this.sholatType.map((v, i) => {
        v.time = this.jadwal && !this.jadwal.status_error ? this.formatJam12Ke24(this.jadwal.items[0][v.jadwal]) : null
        return v
      })
    }
  },
  created () {
    this.fields = [...this.fields, ...this.sholatType]
    moment.locale('id-ID')
    this.tahunAktif = moment().format('YYYY')
    this.bulanAktif = moment().format('M')
    this.getSholatWajib()
  },
  mounted () {
    this.getJadwalSholat()
  },
  methods: {
    getSholatWajib () {
      SholatWajib.list(this.tahunAktif, this.bulanAktif).then(response => {
        this.sholat = response.data.data
      })
    },
    formatTanggal (src, fmt) {
      moment.locale('id-ID')
      return moment(src).format(fmt)
    },
    formatJamSholat (data) {
      return data ? data.waktu.substr(-8, 5) : '-'
    },
    cariLokasi () {
      event.preventDefault()
      this.getJadwalSholat(true, this.serach)
    },
    simpanJadwalLokasiBaru () {
      this.jadwal = this.jadwalTemp
      this.$bvModal.hide('modal-lokasi')
    },
    async getJadwalSholat (doSearch, loc) {
      if (!loc) {
        let geo = await Location.geo()
        this.location = geo.data
        loc = this.location.region
      }
      SholatJadwal.daily(loc).then(response => {
        if (doSearch) {
          this.searched = this.serach
          if (response.data.data.status_code === 1) {
            this.jadwalTemp = response.data.data
          } else {
            this.jadwalTemp = null
          }
        } else {
          this.jadwal = response.data.data
        }
      })
    },
    formatJam12Ke24 (value) {
      moment.locale('en-US')
      return moment(value, ['h:mm A']).format('HH:mm')
    },
    nextSholatTypeIndex () {
      let index = this.sholatType.findIndex(i => i.key === this.sholat[this.sholat.length - 1].tipe)
      return index < (this.sholatType.length - 1) ? index + 1 : 0
    },
    showForm (tipe, today) {
      moment.locale('id-ID')
      this.form.waktu = moment(today, 'dddd, DD MMM YYYY').format('YYYY-MM-DD HH:mm:ss')
      this.form.tipe = tipe
    },
    updateDefaultForm () {
      moment.locale('id-ID')
      this.form.waktu = moment().format('YYYY-MM-DD HH:mm:ss')
      this.form.tipe = this.sholatType[this.nextSholatTypeIndex()].key
    },
    updateWaktuForm () {
      this.form.waktu = moment().format('YYYY-MM-DD HH:mm:ss')
    },
    onSubmit () {
      event.preventDefault()
      let promise = new Promise(resolve => {
        SholatWajib.store(this.form).then(response => {
          resolve(response.data)
        })
      })
      promise.then(response => {
        this.$toast.success({
          title: 'Success',
          message: response.message
        })
        this.form = {
          waktu: null,
          jamaah: 0,
          tempat: 'M'
        }
        this.$bvModal.hide('modal-sholat-add')
        this.getSholatWajib()
      })
    },
    showDetail (data) {
      this.detail = data
      this.$bvModal.show('modal-sholat-detail')
    }
  }
}
</script>
