<template>
  <div>
    <b-container fluid class="container-full">
      <b-row no-gutters="">
        <b-col>
          <b-card
            bg-variant="primary"
            text-variant="white"
            class="card-hero"
          >
            <b-row class="text-center pt-5 pb-4">
              <b-col>
                <h1>Tadarus</h1>
              </b-col>
            </b-row>
            <b-container class="pb-2">
                <b-row>
                    <b-col cols="6" md="3">
                        <h2>{{ totalBacaJuz }}</h2>
                        <p>Juz telah dibaca</p>
                    </b-col>
                    <b-col cols="6" md="3">
                        <h2>{{ totalBacaSurat }}</h2>
                        <p>Surat telah dibaca</p>
                    </b-col>
                    <b-col cols="6" md="3">
                        <h2>{{ totalBacaAyat }}</h2>
                        <p>Ayat telah dibaca</p>
                    </b-col>
                    <b-col cols="6" md="3">
                        <h2>{{ progressKhatam }}%</h2>
                        <p>Menuju khatam</p>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="12" md="9" class="mb-2">
                        <b-progress class="mt-2" variant="success" :max="quran.jumlahAyat" :value="totalBacaAyat" animated/>
                    </b-col>
                    <b-col cols="12" md="3">
                      <b-button v-b-modal.modal-tadarus-add variant="success" size="sm" class="d-block" @click="updateDefault">
                        Catatan <span class="d-none d-lg-inline">Tadarus</span> Baru
                      </b-button>
                    </b-col>
                </b-row>
            </b-container>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="content">
      <b-row no-gutters="" class="mb-3">
        <b-col>
            <b-modal id="modal-tadarus-add" title="Tambah Catatan Tadarus" hide-footer="">
              <b-form @submit="onSubmit">
                <b-row>
                  <b-col cols="12">
                    <b-form-group
                      label="Waktu"
                    >
                      <date-picker required v-model="newData.waktu" lang="en" type="datetime" format="YYYY-MM-DD HH:mm:ss" value-type="format" input-class="form-control"/>
                    </b-form-group>
                  </b-col>
                  <b-col cols="9">
                    <b-form-group
                      label="Surat Mulai"
                      label-for="mulai_surat"
                    >
                      <b-form-select
                        id="mulai_surat"
                        v-model="newData.mulai_surat"
                        :options="quran.surat.filter(v => v.id >= ((items.length > 0) ? items[items.length - 1].akhir_surat : 1))"
                        value-field="id"
                        text-field="nama"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group
                      label="Ayat Mulai"
                      label-for="mulai_ayat"
                    >
                      <b-form-select
                        id="mulai_ayat"
                        v-model="newData.mulai_ayat"
                        :options="mulaiAyatList"
                        :disabled="mulaiAyatList.length === 0"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col cols="9">
                    <b-form-group
                      label="Surat Akhir"
                      label-for="akhir_surat"
                    >
                      <b-form-select
                        id="akhir_surat"
                        v-model="newData.akhir_surat"
                        :options="quran.surat.filter(v => v.id >= newData.mulai_surat)"
                        value-field="id"
                        text-field="nama"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group
                      label="Ayat Akhir"
                      label-for="akhir_ayat"
                    >
                      <b-form-select
                        id="akhir_ayat"
                        v-model="newData.akhir_ayat"
                        :options="akhirAyatList"
                        :disabled="akhirAyatList.length === 0"
                      />
                    </b-form-group>
                  </b-col>
                  <b-col cols="12 text-right">
                    <hr>
                    <b-button type="submit" variant="info">Tambah</b-button>
                  </b-col>
                </b-row>
              </b-form>
            </b-modal>
            <b-table
            :items="items"
            :fields="fields"
            responsive="sm"
            >
            <!-- <template slot="thead-top" slot-scope="data">
                <tr>
                <th colspan="2">&nbsp;</th>
                <th>Type 1</th>
                <th colspan="3">Type 2</th>
                <th>Type 3</th>
                </tr>
            </template> -->
                <template slot="index" slot-scope="data">
                    {{ data.index + 1 }}
                </template>
                <template slot="bacaan" slot-scope="data">
                    {{ bacaan(data.item) }}
                </template>
            </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import moment from 'moment'
import DatePicker from 'vue2-datepicker'
import { Quran } from '../services/quran'
import { Tadarus } from '../services/tadarus'
import { mapGetters } from 'vuex'
export default {
  components: { DatePicker },
  data () {
    return {
        quran: {
            jumlahJuz: 30,
            jumlahSurat: 114,
            jumlahAyat: 6236,
            surat: [],
            juz: []
        },
        items: [],
        fields: [
            {
              key: 'index',
              label: 'No.'
            },
            {
              key: 'waktu',
              label: 'Tanggal'
            },
            'bacaan',
            'jumlah_surat',
            'jumlah_ayat'
        ],
        newData: {
          waktu: null
        }
    }
  },
  computed: {
    ...mapGetters('AuthStore', [
      'user', 'isLoggedIn'
    ]),
    totalBacaJuz () {
        return (this.items.length > 0) ? this.quran.juz.find(v => v.sampai_surat === this.items[this.items.length - 1].akhir_surat && v.sampai_ayat >= this.items[this.items.length - 1].akhir_ayat).id : 0
    },
    totalBacaSurat () {
        return (this.items.length > 0) ? (this.items[this.items.length - 1].akhir_surat - this.items[0].mulai_surat) + 1 : 0
    },
    totalBacaAyat () {
        return (this.items.length > 0) ? this.items.reduce((total, value) => total + value.jumlah_ayat, 0) : 0
    },
    progressKhatam () {
        return Math.floor((this.totalBacaAyat / this.quran.jumlahAyat) * 1000) / 10
    },
    mulaiAyatList () {
        let start = (this.items.length > 0) ? this.items[this.items.length - 1].akhir_ayat + 1 : 1
        let len = (this.newData.mulai_surat) ? this.quran.surat.find(v => v.id === this.newData.mulai_surat).panjang : 0
        let res = []
        for (let i = start; i <= len; i++) {
          res.push({
            value: i,
            text: i
          })
        }
        return res
    },
    akhirAyatList () {
        let start = (this.newData.mulai_surat === this.newData.akhir_surat) ? this.newData.mulai_ayat + 1 || 1 : 1
        let len = (this.newData.akhir_surat) ? this.quran.surat.find(v => v.id === this.newData.akhir_surat).panjang : 0
        let res = []
        for (let i = start; i <= len; i++) {
          res.push({
            value: i,
            text: i
          })
        }
        return res
    }
  },
  async created () {
    await this.getQuran()
    await this.getTadarus()
  },
  methods: {
    getQuran () {
      Quran.list().then(response => {
        this.quran.surat = response.data.data.surat
        this.quran.juz = response.data.data.juz
      })
    },
    getTadarus () {
      Tadarus.list().then(response => {
        let ori = response.data.data
        this.items = ori.map(v => {
            v.jumlah_surat = this.jumlahSurat(v)
            v.jumlah_ayat = this.jumlahAyat(v)
            return v
        })
      })
    },
    bacaan (item) {
        let mulai = this.quran.surat[item.mulai_surat - 1]
        let mulaiSurat = `${mulai.nama} (${mulai.id}:${item.mulai_ayat})`
        let akhir = this.quran.surat[item.akhir_surat - 1]
        let akhirSurat = `${akhir.nama} (${akhir.id}:${item.akhir_ayat})`
        return `${mulaiSurat} - ${akhirSurat}`
    },
    jumlahSurat (item) {
        return (item.akhir_surat - item.mulai_surat) + 1
    },
    jumlahAyat (item) {
        if (item.akhir_surat === item.mulai_surat) {
            return (item.akhir_ayat - item.mulai_ayat) + 1
        } else {
            let start = (item.mulai_surat - 1)
            let stop = (item.akhir_surat - 1)
            let qty = 0
            for (let i = start; i <= stop; i++) {
                if (i === start) {
                    qty += ((this.quran.surat[i].panjang - item.mulai_ayat) + 1)
                } else if (i === stop) {
                    qty += item.akhir_ayat
                } else {
                    qty += this.quran.surat[i].panjang
                }
            }
            return qty
        }
    },
    updateDefault () {
      this.newData.waktu = moment().format('YYYY-MM-DD HH:mm:ss')
    },
    onSubmit () {
      event.preventDefault()
      let promise = new Promise(resolve => {
        Tadarus.store(this.newData).then(response => {
          resolve(response.data)
        })
      })
      promise.then(response => {
        this.$toast.success({
          title: 'Success',
          message: response.message
        })
        this.newData = {
          waktu: null
        }
        this.$bvModal.hide('modal-tadarus-add')
        this.getTadarus()
      })
    }
  }
}
</script>
